#bg{
  background-image: url("../images/index_loading.jpg");
  height: 100% !important;
}

.screen-loader {
  /* The image used */
  background: url("../images/ic_launcher.png") no-repeat center center;

  /* Full height */
  height: 10%; 

  background-size: contain;
  vertical-align: middle;
  margin-top: 80%;
}

.img-hide{
  display: none;
}

#screen1{
  background-image: url("../images/Screen1_1.png");
}

#welcome_greeting{
  margin-top: 8vh;
  color: #08236a !important;
}

#welcome_greeting label{
  font-family: 'axiforma-bold';
  font-size: 45px;
  text-align: center;
  line-height: 1.5vh;
}

#welcome_greeting span{
  font-family: 'axiforma-regular';
  font-size: 18px;
  text-align: center; 
}

#panel1{
  margin-top: 3vh;
  height: 10%;
}

#panel2{
  height: 20%;
}

#panel3{
  margin-top: 44vh;
  height: 10%;
}

.div-border{
  border-style: solid;
}