.bg {
  /* The image used */
  background-image: url("../images/index_loading.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screen-loader {
  /* The image used */
  background: url("../images/startup_logo.png") no-repeat center center;

  /* Full height */
  height: 10%; 

  background-size: contain;
  vertical-align: middle;
  margin-top: 80%;
}

.img-hide{
  display: none;
}
