@font-face {
  font-family: 'axiforma-bold';
  src: url(../fonts/Axiforma\ Bold.otf);
}
@font-face {
  font-family: 'axiforma-regular';
  src: url(../fonts/FontsFree-Net-sddd4.ttf);
}

body, html {
  height: 100%;
  margin: 0;
  touch-action: none;
}

.main_bg { 
  /* Full height */
  height: 93%; 
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  align-content: center;
  
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  display: block;
} 

.div-border{
  border-style: none;
}